<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  {{!-- Only show the header if hideHeader is not true --}}
  {{#unless hideHeader}}
    {{> header}}
  {{/unless}}

  {{{body}}}

  {{!-- Always show footer --}}

</body>
</html>
